@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
    overflow: hidden;
}

#__next {
    height: 100%;
}

.h-calc-vh-294 {
    height: calc(100vh - 294px);
}

.h-calc-vh-76 {
    height: calc(100vh - 76px);
}